<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<h1>User Contact Form</h1>
<hr>
<div>
    <form th:action="@{/saveMessage}" method="post" th:object="${user}">
        <label>Full name:</label>
        <input type="text" th:field="*{name}"/><br/>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}"/><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}"/><br/>

        <label>Birthday (yyyy-mm-dd):</label>
        <input type="text" th:field="*{birthday}"/><br/>

        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="Male"/>Male
        <input type="radio" th:field="*{gender}" value="Female"/>Female<br/>

        <label>Profession:</label>
        <select th:field="*{profession}">
            <option th:each="p : ${listProfession}" th:value="${p}" th:text="${p}"/>
        </select>
        <br/>

        <label>Married?</label>
        <input type="checkbox" th:field="*{married}"/><br/>

        <label>Note:</label>
        <textarea rows="5" cols="25" th:field="*{note}"></textarea>
        <br/>

        <button type="submit">Send message</button>

        <div th:if="${#fields.hasAnyErrors()}">
            <hr>
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
            </ul>
        </div>

    </form>
</div>


</body>
</html>